body
{
    font-size       : 16px;
    line-height     : 22px;
    font-family     : sans-serif;
    padding         : 20px;
}

h1
{
    padding-top     : 20px;
}
        
p
{
    text-align      : justify;
}

table {
    text-align      : left;
    padding         : 8px;
    border-collapse : collapse;
}

td, th{
    padding         : 4px;
    border          : 1px solid #000000;
    vertical-align  : top;   
    min-width       : 100px;
}

